@import url('//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css');

input{
    margin : 10px;
    width : 50%;
}

button{
    margin:5px;
}

ul{
    padding: 5px;
    width : 400px;
    margin : 0px auto;
    list-style: none;
}

li{
    font-weight: bold;
    margin : 2px;
 }

.toDoTask{
    border-bottom: solid grey 1px;
    color:white;
}

p{
    background-color:lightgreen;
    font-weight: bold;
    padding:5px;
    border-bottom: solid white 1px;
}

.container{
    padding : 0px;
    margin-bottom: 10px;
}

.bg-grey{
    background-color: lightslategray;
}

.bg-green{
    background-color: green;
}

.subtitleTask{
    border-bottom: solid white 1px;
}

.finishedTasks{
    border-bottom:solid 1px lightgreen;
    color:white;
}
